@font-face {
    font-family: "Nekst-Black", sans-serif;
    src: url(./fonts/stylesheet.css);
}  

:root {
    background-color: white;
    font-family: "Nekst-Black", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
